#all_locations{
	margin-top: 5%;
}
#all_events{
	margin-top: 5%;
}
#all_restaurants{
	margin-top: 5%;
}

.navMenu{
	margin-bottom: 5%;
	background-color: lightgray;
}
@media screen and (max-width : 1920px){
  .mobile{
  visibility: visible;
  }
}

@media screen and (max-width : 768px){
 
 .mobile{
  display: none;
  }
  .col-md-6{
  	margin-bottom: 7%;
  }
}


#select{
	margin-left:40%;
	width: 20%;
	border-radius: 12px;
}